*{
padding: 0;
margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    box-shadow: 1px 1px 3px 3px rgb(61, 60, 60);
    height: 60px;
    background: rgb(17, 17, 17);
}
header .logo a{
    font-size: 40px;
    font-family:sans-serif;
    color: yellow;
    text-decoration: none;

}
header .display-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.display-menu .menu{
    padding: 0px 15px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
}
.home{
   
}
.home img{
    height:90vh;

}
.a{
    height: 90vh;
}
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    margin-left: 100px;
    padding: 20px;
    
}
h2{
    text-align: center;
}
.form{
    width: 100%;
}
